<!--xml-->
<launch>
    <param name="robot_description" command="cat $(find icarus_rover_v2)/urdf/AL5D_model.xml"/>
    <node name="arm_controller" pkg="icarus_rover_v2" type="arm_controller"  output="screen">
        <param name="loop_rate"             value="500"/>
	    <param name="verbosity_level"       value="DEBUG"/>
        <param name="require_pps_to_start"  value="true"/>    
        <param name="path_to_urdf"          value="/home/dgitz/catkin_ws/src/icarus_rover_v2/urdf/AL5D_model.xml"/>
    </node>
    <node name="time_master" pkg="icarus_rover_v2" type="time_master"  output="screen">
        <param name="loop_rate"             value="500"/>
	    <param name="verbosity_level"       value="DEBUG"/>
        <param name="require_pps_to_start"  value="false"/>    
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    
    <node name="rviz"   pkg="rviz"  type="rviz" />    
    <!-- <node name="joy_node" pkg="joy" type="joy_node"  /> -->
    <node name="keyboard" pkg="keyboard" type="keyboard"  />
    <node name="usercontrol_node" pkg="icarus_rover_v2" type="usercontrol_node"  output="screen">
        <param name="loop_rate"       value="100"/>
	    <param name="verbosity_level" value="DEBUG"/>
        <param name="require_pps_to_start" value="false" />
        <param name="Input_Mode"        value="keyboard" />
        <param name="Operation_Mode"    value="Arm" />
    </node>
</launch>
