<!--xml-->
<launch>
    <node name="$(env ROS_HOSTNAME)_master_node" pkg="icarus_rover_v2" type="master_node"  output="screen" clear_params="true">
	    <param name="verbosity_level"       value="DEBUG"/>
        <param name="require_pps_to_start"  value="false"/>    
        <param name="loop1_rate"            value="1"/> <!-- device,resource available, -->    
    </node>
    <node name="$(env ROS_HOSTNAME)_hatcontroller_node" pkg="icarus_rover_v2" type="hatcontroller_node" output="screen" clear_params="true">  
	    <param name="verbosity_level"       value="DEBUG"/>
        <param name="require_pps_to_start"  value="false"/>
        <param name="analyze_timing"        value="true"/>
        <param name="loop1_rate"            value="50.0"/> <!-- Process Update, Hat Update (Pins) -->    
        <param name="loop2_rate"            value="10"/> <!-- Ready To Arm -->
    </node>
    <node name="$(env ROS_HOSTNAME)_safety_node" pkg="icarus_rover_v2" type="safety_node" output="screen" clear_params="true">  
	    <param name="verbosity_level"       value="DEBUG"/>
        <param name="require_pps_to_start"  value="false"/>
        <param name="loop1_rate"            value="50.0"/> <!-- Process Update, Hat Update (Pins),Publish estop -->    
        <param name="loop2_rate"            value="10"/> <!-- Ready To Arm -->
    </node>
    <!--
    <node name="$(env ROS_HOSTNAME)_cameracapture_node" pkg="icarus_rover_v2" type="cameracapture_node"  output="screen">
        <param name="verbosity_level"       value="DEBUG"/>
        <param name="require_pps_to_start"  value="false"/> 
        <param name="operation_mode"        value="capture"/>
        <param name="video_device"          value="0"/>
        <param name="image_width"           value="300"/>
        <param name="image_height"          value="300"/>
        <param name="storage_location"      value="/home/robot/external/Unsorted-Pictures"/> 
    </node>
    -->
</launch>
