<!--xml-->
<launch>
    <node name="$(env ROS_HOSTNAME)_master_node" pkg="icarus_rover_v2" type="master_node"  output="screen"> 
        <param name="loop_rate"             value="500"/>
	    <param name="verbosity_level"       value="DEBUG"/>
        <param name="require_pps_to_start"  value="false"/>    
    </node>
    <node name="$(env ROS_HOSTNAME)_cameracapture_node" pkg="icarus_rover_v2" type="cameracapture_node"  output="screen">
        <param name="loop_rate"             value="500"/>
        <param name="verbosity_level"       value="DEBUG"/>
        <param name="require_pps_to_start"  value="false"/> 
    </node>
</launch>
