<!--xml-->
<launch>
    <node name="$(env ROS_HOSTNAME)_master_node" pkg="icarus_rover_v2" type="master_node"  output="screen" clear_params="true">
	    <param name="verbosity_level"       value="DEBUG"/>
        <param name="require_pps_to_start"  value="false"/>    
    </node>
    <node name="$(env ROS_HOSTNAME)_boardcontroller_node" pkg="icarus_rover_v2" type="boardcontroller_node" output="screen" clear_params="true">  
	    <param name="verbosity_level"       value="DEBUG"/>
        <param name="require_pps_to_start"  value="false"/>
        <param name="sensor_spec_path" value="/home/robot/config/sensors"/>
        <param name="extrapolate_sensor_values" value="false" />
        <param name="manual_pin_definition" value="false"/>
    </node>
    <!--
    <node name="$(env ROS_HOSTNAME)_cameracapture_node" pkg="icarus_rover_v2" type="cameracapture_node"  output="screen">
        <param name="verbosity_level"       value="DEBUG"/>
        <param name="require_pps_to_start"  value="false"/> 
        <param name="operation_mode"        value="capture"/>
        <param name="video_device"          value="0"/>
        <param name="image_width"           value="300"/>
        <param name="image_height"          value="300"/>
        <param name="storage_location"      value="/home/robot/external/Unsorted-Pictures"/> 
    </node>
    -->
</launch>
