<!--xml-->
<launch>
    <node name="$(env ROS_HOSTNAME)_master_node" pkg="icarus_rover_v2" type="master_node"  output="screen">
        <param name="loop_rate"             value="500"/>
	    <param name="verbosity_level"       value="DEBUG"/>
        <param name="require_pps_to_start"  value="false"/>    
    </node>
    <node name="$(env ROS_HOSTNAME)_command_node" pkg="icarus_rover_v2" type="command_node"  output="screen">
        <param name="loop_rate"             value="500"/>
	    <param name="verbosity_level"       value="DEBUG"/>
        <param name="require_pps_to_start"  value="false"/>    
    </node>
    <node name="$(env ROS_HOSTNAME)_diagnostic_node" pkg="icarus_rover_v2" type="diagnostic_node"  output="screen">
        <param name="loop_rate"             value="500"/>
        <param name="verbosity_level"       value="INFO"/>
        <param name="require_pps_to_start"  value="false"/> 
        <param name="RAM_usage_threshold_MB"    value="50"/>
        <param name="CPU_usage_threshold_percent"    value="15"/> 
        <param name="Log_Resources_Used"        value="0"/>  
    </node>
	<node name="$(env ROS_HOSTNAME)_network_transceiver_node" pkg="icarus_rover_v2" type="network_transceiver_node"  output="screen">
        <param name="loop_rate"             value="500"/>
        <param name="verbosity_level"       value="DEBUG"/>
        <param name="require_pps_to_start"  value="false"/> 
        <param name="Send_Multicast_Group"       value="239.255.43.21"/>
        <param name="Send_Multicast_Port"        value="45454"/>
        <param name="Recv_Unicast_Port"          value="5678"/>
        <param name="Mode"                  value="Diagnostics_GUI"/> <!--Diagnostics_GUI-->
    </node>
    <node name="$(env ROS_HOSTNAME)_audiooutput_node" pkg="sound_play" type="soundplay_node.py">
    </node>
    <node name="$(env ROS_HOSTNAME)_texttospeech_node" pkg="icarus_rover_v2" type="speaker_node"  output="screen">
        <param name="loop_rate"             value="500"/>
	    <param name="verbosity_level"       value="DEBUG"/>
        <param name="require_pps_to_start"  value="false"/>    
    </node>
</launch>
