<!--xml-->
<launch>
    <param name="robot_description" textfile="/home/robot/config/urdf/scout.urdf" />
    <node name="$(env ROS_HOSTNAME)_master_node" pkg="icarus_rover_v2" type="master_node"  output="screen" clear_params="true">
	    <param name="verbosity_level"       value="DEBUG"/>
        <param name="require_pps_to_start"  value="false"/>    
        <param name="loop1_rate"            value="1"/> <!-- device,resource available, -->    
    </node>
	

	<node name="$(env ROS_HOSTNAME)_imu_node" pkg="icarus_rover_v2" type="imu_node"  output="screen" clear_params="true">
        <param name="verbosity_level"       value="NOTICE"/>
        <param name="require_pps_to_start"  value="false"/> 
        <param name="loop1_rate"            value="200"/> <!-- update -->
        <param name="loop2_rate"            value="400"/> <!-- Check to publish imu data -->
    </node>	
</launch>
