<?xml version="1.0" ?>
<launch>
    <node name="$(env ROS_HOSTNAME)_master_node" pkg="icarus_rover_v2" type="master_node"  output="screen">
        <param name="loop_rate"             value="500"/>
	    <param name="verbosity_level"       value="DEBUG"/>
        <param name="require_pps_to_start"  value="false"/>    
    </node>
    <node name="$(env ROS_HOSTNAME)_diagnostic_node" pkg="icarus_rover_v2" type="diagnostic_node"  output="screen">
        <param name="loop_rate"             value="500"/>
        <param name="verbosity_level"       value="INFO"/>
        <param name="require_pps_to_start"  value="false"/> 
        <param name="RAM_usage_threshold_MB"    value="50"/>
        <param name="CPU_usage_threshold_percent"    value="15"/> 
        <param name="Log_Resources_Used"        value="1"/>  
    </node>
    <node name="$(env ROS_HOSTNAME)_sample_node" pkg="icarus_rover_v2" type="sample_node"  output="screen">
        <param name="loop_rate"             value="500"/>
        <param name="verbosity_level"       value="DEBUG"/>
        <param name="require_pps_to_start"  value="false"/> 
 
    </node>
</launch>

