<!--xml-->
<launch>
 <node name="$(env ROS_HOSTNAME)_timemaster_node" pkg="icarus_rover_v2" type="timemaster_node"  output="screen" clear_params="true">
        <param name="startup_delay"       value="0.0"/>
	    <param name="verbosity_level"       value="NOTICE"/> 
        <param name="pps_source"            value="self"/>
        <param name="require_pps_to_start"  value="false"/>
        <param name="loop1_rate"            value="50.0"/> <!-- publish -->
        <param name="loop2_rate"            value="100.0"/> <!-- process update -->
</node>
<node name="$(env ROS_HOSTNAME)_database_node" pkg="icarus_rover_v2" type="database_node"  output="screen" clear_params="true">
        <param name="startup_delay"       value="0.0"/>
        <param name="verbosity_level"       value="NOTICE"/>
        <param name="require_pps_to_start"  value="false"/> 
        <param name="database_path"         value="/home/robot/config/configdatabase.db"/>
</node>
<node name="$(env ROS_HOSTNAME)_master_node" pkg="icarus_rover_v2" type="master_node"  output="screen" clear_params="true">
        <param name="startup_delay"       value="0.0"/>
	    <param name="verbosity_level"       value="NOTICE"/>
        <param name="require_pps_to_start"  value="false"/>    
        <param name="loop1_rate"            value="1"/> <!-- device,resource available, -->    
        <param name="loop2_rate"            value="10"/> <!-- process update, -->  
</node>
</launch>
